/** colorpicker */
body .input-append .add-on,
body .input-prepend .add-on {
	padding: 0px;
	border: 2px solid #CCCCCC;
	height: inherit;
}
body .cpicker {
	margin: 0px;
}
body .cpicker input {
	width: 60px;
	font-size: 8pt;
}
.brand span {
	color: #333333;
}
#frameworkName {
	color: #999999;
}
body .navbar .brand {
	width: 250px;
}