body {
	padding: 0px;
	font-family: sans-serif;
	line-height: 17pt;
	color: #efefef;
	background-image: url(../../images/debut_dark.png);
	background-repeat: repeat;
}
section {
	padding: 0px;
}
canvas {
	width: 100%;
}
