<!doctype html>
<html lang="en" ng-app>
<head>
    <title>Spirograph</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/compiled/styles.css" rel="stylesheet">
	<link href="assets/css/colorpicker.css" rel="stylesheet">
</head>
<body>

<header id="navbar">
	<div class="navbar">
		<div class="navbar-inner">
			<div style="width: auto;" class="container">
				<a href="#" class="brand">Spirograph <span>/</span> <span id="frameworkName">AngularJS</span></a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="https://github.com/benkeen/spirograph">Github</a></li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li><a href="#" id="drawAll">Draw all</a></li>
						<li><a href="#" id="addSpirograph">Add &raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<ol id="spirographs"></ol>
</section>

<script type="text/template" id="spirograph-template">
	<div class="spiro-tabs">
		<div class="spiro-controls">
			<a href="#" class="destroy" title="Close this spirograph panel">x</a>
		</div>
		<ol>
			<li <%= (currTab == "general") ? 'class="selected"' : "" %>><a href="#" data-tab="general">General</a></li>
			<li <%= (currTab == "styles") ? 'class="selected"' : "" %>><a href="#" data-tab="styles">Styles</a></li>
		</ol>
	</div>

	<section class="tabContent">
		<div class="generalTabContent well <%= (currTab == "general") ? 'visible' : "" %>">
			<table class="table">
				<tr>
					<td><label for="innerCircleSizePercentage<%= cid %>">Inner Circle Size</label></td>
					<td>
						<input type="range" class="innerCircleSizePercentage" id="innerCircleSizePercentage<%= cid %>" value="<%= innerCircleSizePercentage %>" min="1" max="99" />
						<ol class="rangeTip">
							<li class="rangeTipLeft">Small</li>
							<li class="rangeTipRight">Large</li>
						</ol>
					</td>
				</tr>
				<tr>
					<td><label for="pointFromCenterPercentage<%= cid %>">Point from Center</label></td>
					<td>
						<input type="range" class="pointFromCenterPercentage" id="pointFromCenterPercentage<%= cid %>" value="<%= pointFromCenterPercentage %>" min="1" max="99" />
						<ol class="rangeTip">
							<li class="rangeTipLeft">Small</li>
							<li class="rangeTipRight">Large</li>
						</ol>
					</td>
				</tr>
				<tr>
					<td><label for="speed<%= cid %>">Speed</label></td>
					<td>
						<input type="range" class="speed" id="speed<%= cid %>" value="<%= speed %>" min="10" max="300" />
						<ol class="rangeTip">
							<li class="rangeTipLeft">Slow</li>
							<li class="rangeTipRight">Fast</li>
						</ol>
					</td>
				</tr>
			</table>
		</div>
		<div class="stylesTabContent tabContent well <%= (currTab == "styles") ? 'visible' : "" %>">
			<table class="table">
				<tr>
					<td><label for="lineThickness<%= cid %>">Line Thickness</label></td>
					<td>
						<input type="range" class="lineThickness" id="lineThickness<%= cid %>" value="<%= lineThickness %>" min="1" step="1" max="10" />
						<ol class="rangeTip">
							<li class="rangeTipLeft">Thin</li>
							<li class="rangeTipRight">Thick</li>
						</ol>
					</td>
				</tr>
				<tr>
					<td><label for="lineTransparency<%= cid %>">Line Transparency</label></td>
					<td>
						<input type="range" class="lineTransparency" id="lineTransparency<%= cid %>" value="<%= lineTransparency %>" min="0.01" step="0.01" max="1" />
						<ol class="rangeTip">
							<li class="rangeTipLeft">Transparent</li>
							<li class="rangeTipRight">Solid</li>
						</ol>
					</td>
				</tr>
				<tr>
					<td><label for="lineColour<%= cid %>">Line Colour</label></td>
					<td>
						<div class="cpicker input-append color" data-color="<%= lineColorHex %>" data-color-format="hex" id="lineColour<%= cid %>">
							<input type="text" class="span2" value="<%= lineColorHex %>" />
							<span class="add-on"><i style="background-color: <%= lineColorHex %>"></i></span>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</section>

	<div class="well well-small">
		<span class="spinner"></span>
		<button class="btn-small btn-primary actionButton">Draw &raquo;</button>
	</div>

	<div class="canvasWrapper">
		<canvas class="spiroCanvas"></canvas>
	</div>
</script>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/html5slider.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/libs/bootstrap-colorpicker.js"></script>
<script src="js/libs/spinners.js"></script>
<script src="js/models/spirograph.js"></script>
<script src="js/collections/spirographs.js"></script>
<script src="js/views/navbar.js"></script>
<script src="js/views/spirograph.js"></script>
<script src="js/views/app.js"></script>
<script src="js/app.js"></script>

</body>
</html>