#spirographs {
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;

	label {
		white-space: nowrap;
	}

	ul {
		list-style-type: none;
		margin: 0;
	}

	>li {
		padding: 0 0 0 5px;
		flex: 1;
		display: flex;
		flex-direction: column;

		.canvasWrapper {
			flex: 1;
		}
	}

	input[type=range] {
		width: 100%;
	}
	input[type=checkbox] {
		margin-right: 10px;
	}
}

body {
	.well {
		background: rgba(0, 0, 0, 0.3);
		box-shadow: 0 1px 4px rgba(40, 40, 40, 0.8);
		border: 0px;
		margin-bottom: 5px;
		padding: 18px 12px 12px;
		position: relative;
		clear: both;
	}
	.well-small {
		padding: 5px;
		margin-bottom: 0;
	}

	.table {
		margin-bottom: 0;

		td {
			padding: 5px;
		}
	}
}

.canvasWrapper {
	background-color: white;
	text-align: center;
}

.rangeTip {
	font-size: 7pt;
	color: #666666;

	margin: 0;
	list-style-type: none;

	li {
		line-height: 14px;

		&.rangeTipLeft {
			float: left;
		}
		&.rangeTipRight {
			float: right;
		}
	}
}

.spiro-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	background: rgba(51, 7, 7, 0.3);
	border-radius: 4px;
	text-align: center;

	a {
		color: #555555;
		display: block;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
	&:hover {
		background-color: #EB0000;
	}
}

.spiro-tabs {
	position: relative;
	ol {
		list-style-type: none;
		margin: 0px;
		li {
			float: left;
			width: 35%;
			margin-right: 1px;
			text-align: center;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background: rgba(0, 0, 0, 0.5);
			font-size: 9pt;
			cursor: pointer;

			a {
				color: #555555;
				line-height: 17pt;
				display: block;
				&:hover {
					color: #cccccc;
					text-decoration: none;
				}
			}

			&.selected {
				background: rgba(0, 0, 0, 0.3);
				a {
					color: #888888;
				}
			}
		}
	}
}

.tabContent>div {
	min-height: 125px;
}

.spinner {
	float: right;
	width: 26px;
	height: 26px;
	display: block;
}
